{% extends "app01/base_app01.html" %}

{% block titulo %}
Listagens
{% endblock titulo %}

{% block conteudo %}
<table class="table">
<thead>
<h1>Municipio: {{ municipio }}</h1>
  <tr>
    <th>Item</th>
     <th>Tabela</th>
     <th>Descricao</th>
  </tr> 
</thead>
<tbody>
   {% for qy in query %}
    <tr>
      <td>{{ forloop.counter }}</td>
     <td>{{ qy.tabela }}</td>      
     <td>{{ qy.descricao }}</td>
     <td><a href="#">Acao</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url 'app01:cargahoraria' %}"><button class="btn btn-primary" >Cadastrar</button></a>
<hr>
<div class="form-group">
  <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>

{% endblock conteudo %}
